*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html,
#map-wrapper {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.label {
    font-size: 12px;
    line-height: 1;
    text-align: left;
    color: black;
}
.station-label {
    position: relative;
	float: left;
	width: 200px;
    transform: translateY(-2.5px);
}

.station {
	position: absolute;
	width: 9px;
	height: 9px;
	background: white;
	border-radius: 50%;
    --premium: 0;

}
.station.smallpremium {
    box-shadow: 0 0 0 0.75pt #383838, 0 0 0 2pt #828486, 0 0 0 2.75pt #383838;
    font-weight: 700;
}
.station.premium {
    width: 13px;
    height: 13px;
    transform: translateX(-2px);
    box-shadow: 0 0 0 0.75pt #383838, 0 0 0 2.5pt #828486, 0 0 0 3.25pt #383838;
    font-weight: 700;
}
.station.premium .label {
    right: -2px;
}
.station.largepremium {
    width: 17px;
    height: 17px;
    transform: translateX(-4px);
    box-shadow: 0 0 0 0.75pt #383838, 0 0 0 3pt #828486, 0 0 0 3.75pt #383838;
    font-weight: 700;
}
.station.largepremium .label {
    top: 2px;
    right: -13px;
}

.station.mutli {
    width: calc(13.2px + calc(11px * var(--stationlines)));
    height: 12px;
    border-top-left-radius: 100% calc(13.2px + calc(11px * var(--stationlines)));
    border-top-right-radius: 100% calc(13.2px + calc(11px * var(--stationlines)));
    border-bottom-left-radius: 100% calc(13.2px + calc(11px * var(--stationlines)));
    border-bottom-right-radius: 100% calc(13.2px + calc(11px * var(--stationlines)));  
    box-shadow: 0 0 0 1pt #383838;
    font-weight: 700;
}

.station.multi.vertical {
    width: 12px;
    height: calc(13.2px + calc(11px * var(--stationlines)));
    border-top-left-radius: 100% 12px;
    border-top-right-radius: 100% 12px;
    border-bottom-left-radius: 100% 12px;
    border-bottom-right-radius: 100% 12px;
    box-shadow: 0 0 0 1px #383838;
    font-weight: 700;
}

#northmelbourne .label,
#southerncross .label {
    top: -6.25px;
    left: -90px;
    width: 83px;
    text-align: right;
}

/* lines */

.suburbanline {
    color: #6F83C4;
}
.northerngroup {
    color: #3B51A3;
}

/* northern group */

#northerngrouploop {
    width: 200px;
    height: 160px;
    transform: translate(525px, 550px);
    border: 9px solid;
    border-radius: 0px 20px 20px 20px;
    text-align: center;
}
#northerngrouploop::before {
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    transform: translateY(-9px);
    background-color: white;
}
#northerngrouploop::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    transform: translate(-9px, -29px);
    border-style: solid;
    border-width: 0px 0px 9px 9px;    
    border-bottom-left-radius: 20px;
}

#flagstaff {
    --stationlines: 2;
    left: calc(25% - 9px);
    transform: translateY(-24.6px);
}
#flagstaff .label {
    transform: translate(-20px, -19px);
}
#melbournecentral {
    --stationlines: 2;
    left: calc(75% - 9px);
    transform: translateY(-24.6px);
}
#melbournecentral .label {
    width: 100px;
    transform: translate(-46px, -28px);
    text-align: center;
}
#flindersstreet {
    --stationlines: 4;
    left : calc(50% - 9px);
    transform: translateY(126.4px);    
}
#flindersstreet .label {
    transform: translate(-37.5px, 58px);    
}
#southerncross {
    --stationlines: 4;
    top: calc(50% - 9px);
    left: -6.1px;
    transform: translateX(-44.51px);
}

#suburbanline {
    position: absolute;
    width: 24px;
    height: 301.5px;
    transform: translate(-44px, -125.25px);
    border: 9px solid;
    border-right-width: 0px;
    border-radius: 20px 0px 0px 20px;
}
#suburbanline::before {
    content: "";
    display: block;
    width: 106.5px;
    height: 9px;
    transform: translate(15px, 283.9px);
    background-color: currentColor;
}
#suburbanline::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    transform: translate(15px, -29px);
    border-style: solid;
    border-width: 0px 9px 9px 0px; 
    border-bottom-right-radius: 20px;
}

#northmelbourne {
    --stationlines: 4;
    left : -41.6px;
    bottom: 20px;
}

#northerngroupline {
    position: absolute;
    width: 9px;
    height: 484px;
    transform: translate(-9px, -502px);
    background-color: currentColor;
}
#northerngroupline > .station:not(#northmelbourne) {
    bottom: calc(100px + calc(4px * var(--premium)) + calc(25px * var(--stationposition)));
    
}
#northerngroupline > .station:not(#northmelbourne):not(#craigieburnstation) > .label {
    text-align: right;
    transform: translate(-210px);
}
#craigieburnstation > .label {
    transform: translate(16px);
}

#sunburyline {
    position: absolute;
    width: 300px;
    height: 9px;
    transform: translate(-335px, 407px);
    background-color: currentColor;
}
#sunburyline::after {
    content: "";
    display: block;
    width: 35px;
    height: 20px;
    transform: translateX(309px);    
    border-style: solid;
    border-width: 9px 9px 0px 0px;
    border-top-right-radius: 20px;
}
#sunburyline > .station:not(.smallpremium) {
    right: calc(66% + calc(9% * calc(var(--stationposition) - 2.15)));
}
#sunburyline > .station:not(#sunshine) {
    transform: rotate(-90deg);
}
#sunburyline > .station:not(#sunshine) > .label {
    text-align: right;
    transform: translate(18.75px, 3px) scale(-1);
}

#footscray {
    right: 50%;
}
#sunshine > .label {
    transform: translate(-23px, 16.75px);  
}

#sunburyline2 {
    position: absolute;
    width: 225px;
    height: 9px;
    transform: translate(-188.5px, -78.5px) rotate(45deg);
    background-color: currentColor;
    z-index: -1;
}
#sunburyline2 > .station {
    transform: rotate(-45deg);   
    right: calc(-110px + calc(4px * var(--premium)) + calc(27.5px * var(--stationposition)));
}
#sunburyline2 > .station > .label {
    text-align: left;
    transform: translate(19px);
}
#sunburyline2 > .premium {
    left: unset;
    top: -2px;
}

#upfieldline {
    position: absolute;
    width: 80px;
    height: 299px;
    transform: translate(20px, 95px);
    border-style: solid;
    border-width: 0px 9px 9px 0px;
    border-bottom-right-radius: 20px;
}
#upfieldline::before {
    content: "";
    display: block;
    width: 20.75px;
    height: 20px;
    transform: translate(-20px, 290px);
    border-style: solid;
    border-width: 9px 0px 0px 9px;
    border-top-left-radius: 20px;
}
#upfieldline > .station {
    bottom: calc(-12px + calc(26.65px * var(--stationposition)));
    transform: translateX(71px);  
}
#upfieldline .station .label {
    text-align: left;
    transform: translate(19px);
}

#upfieldline2 {
   position: absolute;
   width: 9px;
   height:75px;
   transform: translate(46px, -80.5px) rotate(-45deg);
   background-color: currentColor;

}
#upfieldline2 > .station {
    transform: rotate(45deg);   
    bottom: calc(calc(35% * calc(var(--stationposition) - 10)) - 12.5px);
}

/* loop line */
#loopline {
    position: absolute;
    width: 200px;
    height: 151px;
    transform: translate(514px, 561px);
    border: 9px solid red;
    border-radius: 20px 20px 0px 0px;
    border-bottom-width: 0px;
}
